*{
    
    margin: 0;
    padding: 0;
    

}


body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    
}

header{
    height: 100%;
    width: 100%;
}


h1{
    
    text-align: center;
    color: black;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    
    
}


.grid-areas{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "main main main"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    margin: 0;
    height: 100vh;
}    

header{
    grid-area: header;
}
#NAV{
    grid-area: nav;
    width: 20%;
    height: 85%;
    border-radius: 20px;
    justify-items: start;
    z-index: 1;
}

#h1Header{
    grid-area: h1Header;
    justify-self: center;
}
.navFont{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    list-style-type: none;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}
.nav_frame{
    border: none;
}
main{
    grid-area: main;
}
.contenedor_imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}
.caja_imagen{
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .75);
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    grid-area: footer;
    justify-self: center;
}
